/* MAin styles for header */
.header {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header-title {
	width: 90%;
	padding-block: 1em;
	border-bottom: 0.1em black solid;
	text-align: center;
}

/* Main Menu Styles */
.nav {
	padding-block: 1em;
}