body {
	background-image: url('../assets/BG.jpg');
	background-size: cover;
}

/* MAin styles for header */
.header {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header-title {
	width: 90%;
	padding-block: 1em;
	border-bottom: 0.1em black solid;
	text-align: center;
}

/* Main Menu Styles */
a {
	text-decoration: none;
	font-size: 1.2em;
	font-weight: bold;
	color: #000;	
	padding-inline: 1em;
	padding-block: 1em;
}

a:hover, .active {
	color: #FFF;
	background: #000;
}

.nav {
	display: flex;
	padding-block-end: 1em;
	max-width: 800px; 
	justify-content: space-around;
	align-items: center;
}

/* Main Form Styles */

.form, [class^=col] {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-block-start: 2%;
	background-color: transparent;
}

.form {
	background-color: rgba(255, 255, 255, 0.5); border-radius: 1%;
	padding-block: 2em;
	padding-inline: 2em;
	max-width: 800px;
	margin: auto;
}

.form-cont {
	width: 50%;
}

.form .form-grid {
	display: grid;
	grid-template-columns: 50% 2fr;
	justify-content: space-between;
	align-items: center;
	column-gap: 2em;
}

.form .textIn {
	border: none;
	border-bottom: .05em solid #000;
	outline: none;
	width: 100%;
	padding-block: .5em;
	font-size: 1.2em;
	background-color: transparent;
}

.form .textIn::placeholder {
	font-weight: bold;
	color: #000;
}

.form .lbl {
	font-weight: bold;
	font-size: 1.2;
}

.form .comboBox {
	padding-block: .5em;
	padding-inline: 1em;
	background-color: transparent;
	width: 75%;
	border: none;
	border-bottom: .05em solid #000;
	outline: none;
}

/* Button Styles */
.btn {
	padding-block: .5em;
	padding-inline: 3em;
	border: none;
	outline: none;
	background-color: #000;
	color: #fff;
	font-size: 1.2em;
	cursor: pointer;
}